tags
docs/_site
docs/Gemfile.lock
./docs/Gemfile.lock
./docs/.sass-cache
*.html
*.class
test/
vim/.floo
vim/.flooignore
*.netrwhist
*-rplugin~
*rplugin.vim
config/nvim/config/local.vim
vimperator/
**/vifminfo
getmail/getmail[.r]*
getmail/oldmail*
