#============================================================================
# init.vim --- My SpaceVim config
# Copyright (c) 2016-2017 Wang Shidong & Contributors
# Author: Wang Shidong < wsdjeg at 163.com >
# URL: https://spacevim.org
#=============================================================================

# SpaceVim options {{{
[options]
    enable_statusline_mode = true
    enable_tabline_filetype_icon = true
    enable_os_fileformat_icon = true
    statusline_unicode_symbols = true
    # default_custom_leader = 'Q'
    statusline_separator='arrow'
    statusline_iseparator='arrow'
    autocomplete_method = 'deoplete'
    buffer_index_type = 0
    default_indent = 2
    debug_level = 0
    enable_key_frequency = 1
    use_lua = 1
    filemanager = "defx"
    filetree_direction = "right"
    # enable_ycm = 1
    # snippet_engine = "ultisnips"
    line_on_the_fly = false
    enable_filetree_gitstatus = true
    # default_custom_leader = "e"
    realtime_leader_guide = 1
    windows_index_type = 3
    github_username = 'wsdjeg'
    auto_disable_touchpad = 0
    file_searching_tools = ['fd', 'fd']
    colorscheme = 'one'
    checkinstall = false
    guifont = 'SauceCodePro NF:h12:cANSI:qDRAFT'
    # guifont = 'SauceCodePro Nerd Font Mono:h12:cANSI:qDRAFT'
    # guifont = 'DejaVuSansMono NF:h12:cANSI:qDRAFT'
    # guifont = 'Hasklug NF:h12:cANSI:qDRAFT'
    enable_tabline_filetype_icon = true
    bootstrap_before = "myspacevim#before"
    bootstrap_after = "myspacevim#after"
    search_tools = ["rg", "pt", "ack", "grep", "findstr"]
    # autocomplete_method = "coc"
    commandline_prompt = '>'
    # vimcompatible = true
    # enable_language_specific_leader = false
    enable_statusline_tag = false
    project_rooter_outermost = false
    # disabled_plugins = ["startify", 'deoplete-dictionary']
    relativenumber = false
    statusline_right_sections = [
        'fileformat',
        'totallines'
    ]
    todo_prefix = '@'
    todo_labels = ['bug', 'question', 'fixme', 'todo']
    project_non_root = 'current'
    bootstrap_script = '''
let g:fuck_s = 1
let g:fuck_f = 2
'''
# }}}

# SpaceVim layer config {{{
[[layers]]
    name = 'core'
    enable_filetree_gitstatus = true
    enable_filetree_filetypeicon = true

[[layers]]
    name = 'checkers'
    lint_on_the_fly  = true
    lint_on_save = true

[[layers]]
    name = 'edit'
    autosave_timeout = 300000
    # autosave_events = ['InsertLeave', 'TextChanged']
    # autosave_all_buffers = true
    enable_hop = false

[[layers]]
    name = 'treesitter'

[[layers]]
    name = 'ui'
    enable_scrollbar = false
    enable_indentline = false
    # filetree_show_hidden = true
    cursorword_delay = 200
    cursorword_exclude_filetype = ['markdown']
    indentline_exclude_filetyps = ['startify', 'help']

# python 
[[layers]]
  name = 'lang#ruby'
[[layers]]
  name = 'lang#go'
[[layers]]
  name = 'lang#javascript'

# python 
[[layers]]
  name = 'lang#vim'

# python 
[[layers]]
  name = 'lang#python'
  python_file_head = [      
      '# -*- coding: utf-8 -*-',
      '# Author: xxx',
      '# Mail: xxx@xx'
      '# Created Time: `strftime("%a %b %d")`'
      ''
  ]
[[layers]]
    name = 'telescope'
    enable = 'has("nvim")'
[[layers]]
    name = 'leaderf'
    enable = '!has("nvim")'
[[layers]]
    name = 'format'
[[layers]]
    name = 'github'
[[layers]]
    name = 'git'
[[layers]]
    name = 'cscope'
[[layers]]
    name = 'tools'
[[layers]]
    name = 'VersionControl'
[[layers]]
    name = 'lang#vim'
    auto_generate_doc = true
[[layers]]
    name = 'lang#postscript'
[[layers]]
    name = 'lang#e'
    e_interpreter = 'D:\Program Files\e\rune.bat'
    e_jar_path = 'D:\Program Files\e\e.jar'
[[layers]]
    name = 'lang#java'
[[layers]]
    name = 'lang#lua'
[[layers]]
    name = 'lang#c'
[[layers]]
    name = 'lang#sh'
    bash-file-head = [
        '#!/usr/bin/env bash',
        '# Time: `strftime("%Y-%m-%d %T")`',
        ''
    ]
[[layers]]
    name = 'lang#toml'
[[layers]]
    name = 'colorscheme'
[[layers]]
    name = 'core#statusline'
    enable = true
[[layers]]
    name = 'core#tabline'
    enable = true
[[layers]]
    name = 'autocomplete'
    auto-completion-delay = 10
    auto-completion-return-key-behavior = "smart"
    auto-completion-tab-key-behavior = "smart"
[[layers]]
    name = 'lang#markdown'
    enableWcwidth = 1
    listItemIndent = 1
    enabled_formater = ['prettier']
[[layers]]
    name = 'lang#liquid'
[[layers]]
    name = 'shell'
    default_position = 'float'
    default_height = 35
[[layers]]
    name = 'incsearch'
    enable = true
[[layers]]
    name = 'foldsearch'
    enable = true
[[layers]]
    name = 'zettelkasten'
    zettel_dir = 'D:\me\zettelkasten'
    zettel_template_dir = 'D:\me\zettelkasten_template'
    enable = true
[[layers]]
    name = 'gtags'
    enable = true
    ctags_bin = 'C:\Users\wsdjeg\.SpaceVim\bundle\phpcomplete.vim\bin\ctags.exe'
[[layers]]
    name = 'lsp'
    enabled_clients = ['vimls', 'jdtls', 'clangd']
    filetypes = ['vim']
    enable = true
    [layers.override_client_cmds]
    jdtls = [
    "java",
    "-Declipse.application=org.eclipse.jdt.ls.core.id1",
    "-Dosgi.bundles.defaultStartLevel=4",
    "-Declipse.product=org.eclipse.jdt.ls.core.product",
    "-Dlog.protocol=true",
    "-Dlog.level=NONE",
    "-noverify",
    "-Xmx1G",
    "-jar",
    "D:\\dev\\jdt-language-server-latest\\plugins\\org.eclipse.equinox.launcher_1.5.200.v20180922-1751.jar",
    "-configuration",
    "D:\\dev\\jdt-language-server-latest\\config_win",
    "-data",
    "C:\\Users\\Administrator\\.cache\\javalsp"
    ]
[[layers]]
    name = 'tools#mpv'
    mpv_interpreter = 'D:\Program Files\mpv\mpv.exe'
    musics_directory = 'E:\我的坚果云\音乐'
