[IMSelector]
# 局部输入法选择
#LocalInputMethodSelectKey=
# 全局输入法选择
#GlobalInputMethodSelectKey=
# 清除局部输入法
#ClearLocal=

[GlobalSelector]
# 切换至第1个输入法
#IM1=
# 切换至第2个输入法
#IM2=
# 切换至第3个输入法
#IM3=
# 切换至第4个输入法
#IM4=
# 切换至第5个输入法
#IM5=
# 切换至第6个输入法
#IM6=
# 切换至第7个输入法
#IM7=
# 切换至第8个输入法
#IM8=
# 切换至第9个输入法
#IM9=

[LocalSelector]
# 切换至第1个输入法
#IM1=
# 切换至第2个输入法
#IM2=
# 切换至第3个输入法
#IM3=
# 切换至第4个输入法
#IM4=
# 切换至第5个输入法
#IM5=
# 切换至第6个输入法
#IM6=
# 切换至第7个输入法
#IM7=
# 切换至第8个输入法
#IM8=
# 切换至第9个输入法
#IM9=

