[Pinyin]
# 默认双拼方案
# 可选值：
# Ziranma
# MS
# Ziguang
# ABC
# Zhongwenzhixing
# PinyinJiaJia
# XiaoHe
# User Defined
#DefaultShuangpinSchema=Ziranma
# 将光标固定在预输入文本开头
# 可选值：
# True False
#FixCursorAtHead=False
# 使用 V 来触发快速输入
# 可选值：
# True False
#UseVForQuickPhrase=True
# 使用完整拼音
# 可选值：
# True False
#UseCompletePinyin=False
# 自动组词
# 可选值：
# True False
#AutoCreatePhrase=True
# 保存自动词组
# 可选值：
# True False
#SaveAutoPhrase=False
# 快捷键: 添加常用字
#AddFreqWordKey=CTRL_8
# 快捷键: 删除常用字
#DeleteFreqWordKey=CTRL_7
# 快捷键: 删除用户词组
#DeleteUserPhraseKey=CTRL_DELETE
# 候选字顺序
# 可选值：
# AdjustNo
# AdjustFast
# AdjustFreq
#BaseOrder=AdjustFreq
# 候选词顺序
# 可选值：
# AdjustNo
# AdjustFast
# AdjustFreq
#PhraseOrder=AdjustFreq
# 常用字顺序
# 可选值：
# AdjustNo
# AdjustFast
# AdjustFreq
#FreqOrder=AdjustNo
# 模糊an和ang
# 可选值：
# True False
#FuzzyAnAng=False
# 模糊en和eng
# 可选值：
# True False
#FuzzyEnEng=False
# 模糊ian和iang
# 可选值：
# True False
#FuzzyIanIang=False
# 模糊in和ing
# 可选值：
# True False
#FuzzyInIng=False
# 模糊ou和u
# 可选值：
# True False
#FuzzyOuU=False
# 模糊uan和uang
# 可选值：
# True False
#FuzzyUanUang=False
# 模糊c和ch
# 可选值：
# True False
#FuzzyCCh=False
# 模糊f和h
# 可选值：
# True False
#FuzzyFH=False
# 模糊l和n
# 可选值：
# True False
#FuzzyLN=False
# 模糊s和sh
# 可选值：
# True False
#FuzzySSH=False
# 模糊z和zh
# 可选值：
# True False
#FuzzyZZH=False
# 忽略拼音中ng->gn的输入错误
# 可选值：
# True False
#Misstype=True
# 忽略拼音jv，qv，xv，yv中u->v的输入错误
# 可选值：
# True False
#MisstypeVU=True

