[Keyboard]
# 选择候选词时输入额外空格
# 可选值：
# True False
#CommitWithExtraSpace=False
# 选词修饰键
# 可选值：
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 切换单词提示
#HotkeyToggleWordHint=CTRL_ALT_H
# 最小触发单词提示长度
#MinimumHintLength=1
# 拼写提示候选词最大个数
#MaximumHintLength=5
# 使用回车确认已输入字符串
# 可选值：
# True False
#UseEnterToCommit=False
# 当前输入内容加入用户词典
#HotkeyAddToUserDict=CTRL_ALT_N

