[Pinyin]
# Default Shuangpin Schema
# Available Value:
# Ziranma
# MS
# Ziguang
# ABC
# Zhongwenzhixing
# PinyinJiaJia
# XiaoHe
# User Defined
#DefaultShuangpinSchema=Ziranma
# Fix preedit cursor at head
# Available Value:
# True False
#FixCursorAtHead=False
# Use V to trigger quickphrase
# Available Value:
# True False
#UseVForQuickPhrase=True
# Use Complete Pinyin
# Available Value:
# True False
#UseCompletePinyin=False
# Auto Create Phrase
# Available Value:
# True False
#AutoCreatePhrase=True
# Save Auto Created Phrase
# Available Value:
# True False
SaveAutoPhrase=True
# Hotkey of Adding Frequent Word
#AddFreqWordKey=CTRL_8
# Hotkey of Deleting Frequent Word
#DeleteFreqWordKey=CTRL_7
# Hotkey of Delete User Phrase
#DeleteUserPhraseKey=CTRL_DELETE
# Rule of Candidate Word Order
# Available Value:
# AdjustNo
# AdjustFast
# AdjustFreq
#BaseOrder=AdjustFreq
# Rule of Candidate Phrase Order
# Available Value:
# AdjustNo
# AdjustFast
# AdjustFreq
#PhraseOrder=AdjustFreq
# Rule of Frequent Word Order
# Available Value:
# AdjustNo
# AdjustFast
# AdjustFreq
#FreqOrder=AdjustNo
# Fuzzy an and ang
# Available Value:
# True False
#FuzzyAnAng=False
# Fuzzy en and eng
# Available Value:
# True False
#FuzzyEnEng=False
# Fuzzy ian and iang
# Available Value:
# True False
#FuzzyIanIang=False
# Fuzzy in and ing
# Available Value:
# True False
#FuzzyInIng=False
# Fuzzy ou and u
# Available Value:
# True False
#FuzzyOuU=False
# Fuzzy uan and uang
# Available Value:
# True False
#FuzzyUanUang=False
# Fuzzy c and ch
# Available Value:
# True False
#FuzzyCCh=False
# Fuzzy f and h
# Available Value:
# True False
#FuzzyFH=False
# Fuzzy l and n
# Available Value:
# True False
FuzzyLN=True
# Fuzzy s and sh
# Available Value:
# True False
#FuzzySSH=False
# Fuzzy z and zh
# Available Value:
# True False
#FuzzyZZH=False
# Fix misstype gn/ng
# Available Value:
# True False
#Misstype=True
# Fix misstype v/u like jv, qv, xv, yv
# Available Value:
# True False
#MisstypeVU=True

