[Pinyin Enhance]
# 将简拼视为英文
# 可选值：
# True False
#ShortAsEnglish=False
# 允许替换第一个候选词
# 可选值：
# True False
#AllowReplaceFirst=True
# 不显示拼写提示
# 可选值：
# True False
#DisableSpell=False
# 拼写提示候选词最大个数
#MaximumHintLength=1
# 以词定字
#InputCharFromPhraseString=[]
# 切换至以词定字模式
#InputCharFromPhraseKey=
# 禁用拼音符号
# 可选值：
# True False
#DisableSym=False
# 笔画输入触发长度
#StrokeThresh=2
# 笔画输入结果的最大个数
#StrokeLimit=3

