[Pinyin]
# Use Incomplete pinyin
# Available Value:
# True False
#Incomplete=True
# Use Traditional Chinese Data for Pinyin and Shuangpin (Need Restart)
# Available Value:
# True False
#UseTraditionalChineseData=False

[Zhuyin]
# Use Tone
# Available Value:
# True False
#UseTone=True
# Use Incomplete Zhuyin
# Available Value:
# True False
#Incomplete=True
# Zhuyin Layout
# Available Value:
# Standard
# IBM
# GinYieh
# ET
#Layout=Standard
# Zhuyin candidate choosing modifiers
# Available Value:
# Ctrl
# Alt
# Shift
#CandidateModifiers=Alt
# Zhuyin Prev Page
#PrevPage=PGUP UP
# Zhuyin Next Page
#NextPage=PGDN DOWN
# Use Simplified Chinese Data for Zhuyin (Need Restart)
# Available Value:
# True False
#UseSimplifiedChineseData=False

[Shuangpin]
# Shuangpin Scheme
# Available Value:
# Ziranma
# Microsoft
# ZiGuang
# ABC
# PinyinJiaJia
# XiaoHe
#Scheme=Ziranma

[Correction]
# V -> U
# Available Value:
# True False
#VU=False
# GN -> NG
# Available Value:
# True False
#GNNG=True
# MG -> NG
# Available Value:
# True False
#MGNG=False
# IOU -> IU
# Available Value:
# True False
#IOUIU=False
# UEI -> UI
# Available Value:
# True False
#UEIUI=False
# UEN -> UN
# Available Value:
# True False
#UENUN=False
# UE -> VE
# Available Value:
# True False
#UEVE=False
# ON -> ONG
# Available Value:
# True False
#ONONG=False

[Ambiguity]
# Ci <-> Chi
# Available Value:
# True False
#CiChi=False
# Zi <-> Zhi
# Available Value:
# True False
#ZiZhi=False
# Si <-> Shi
# Available Value:
# True False
#SiShi=False
# Ne <-> Le
# Available Value:
# True False
#LeNe=False
# Fo <-> He
# Available Value:
# True False
#FoHe=False
# Le <-> Ri
# Available Value:
# True False
#LeRi=False
# Ge <-> Ke
# Available Value:
# True False
#GeKe=False
# An <-> Ang
# Available Value:
# True False
#AnAng=False
# En <-> Eng
# Available Value:
# True False
#EnEng=False
# In <-> Ing
# Available Value:
# True False
#InIng=False

[Dictionary]
# Art
# Available Value:
# True False
#Art=False
# Culture
# Available Value:
# True False
#Culture=False
# Economy
# Available Value:
# True False
#Economy=False
# Geology
# Available Value:
# True False
#Geology=False
# History
# Available Value:
# True False
#History=False
# Life
# Available Value:
# True False
#Life=False
# Nature
# Available Value:
# True False
#Nature=False
# People
# Available Value:
# True False
#People=False
# Science
# Available Value:
# True False
#Science=False
# Society
# Available Value:
# True False
#Society=False
# Sport
# Available Value:
# True False
#Sport=False
# Technology
# Available Value:
# True False
#Technology=False

[Dictionary Zhuyin]
# Art
# Available Value:
# True False
#Art=False
# Culture
# Available Value:
# True False
#Culture=False
# Economy
# Available Value:
# True False
#Economy=False
# Geology
# Available Value:
# True False
#Geology=False
# History
# Available Value:
# True False
#History=False
# Life
# Available Value:
# True False
#Life=False
# Nature
# Available Value:
# True False
#Nature=False
# Science & Technology
# Available Value:
# True False
#Scitech=False
# Society
# Available Value:
# True False
#Society=False
# Sport
# Available Value:
# True False
#Sport=False

